################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentAPI/bin/Debug/net5.0
/.vs
